* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #222;
}

.navbar {
    background: #1f2937;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 18px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

.auth-card,
.group-card,
.empty-box {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.auth-card {
    max-width: 450px;
    margin: 50px auto;
}

h1,
h2 {
    margin-top: 0;
}

.subtitle {
    color: #6b7280;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    font-weight: bold;
}

input {
    padding: 11px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 15px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 11px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #1d4ed8;
}

.small-text {
    margin-top: 18px;
    font-size: 14px;
}

.small-text a {
    color: #2563eb;
    text-decoration: none;
    font-weight: bold;
}

.flash-box {
    background: #fff7ed;
    border: 1px solid #fed7aa;
    color: #9a3412;
    padding: 12px 18px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.flash-box p {
    margin: 5px 0;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.empty-box {
    text-align: center;
}
.btn-link {
    background: #2563eb;
    color: white;
    border: none;
    padding: 11px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.btn-link:hover {
    background: #1d4ed8;
}

.group-card h2 {
    margin-bottom: 15px;
}