{% extends "base.html" %}

{% block content %}

<div class="auth-card">
    <h1>Create New Group</h1>
    <p class="subtitle">Create a group for roommates, friends, trips, or team expenses.</p>

    <form method="POST">
        <label>Group Name</label>
        <input type="text" name="group_name" placeholder="Example: Home, Trip, Friends" required>

        <button type="submit">Create Group</button>
    </form>

    <p class="small-text">
        <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
    </p>
</div>

{% endblock %}