{% extends "base.html" %}

{% block content %}

<div class="auth-card">
    <h1>Login</h1>
    <p class="subtitle">Welcome back to SplitMate.</p>

    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <button type="submit">Login</button>
    </form>

    <p class="small-text">
        Don't have an account?
        <a href="{{ url_for('register') }}">Create one</a>
    </p>
</div>

{% endblock %}